/* Variable..... */
:root {
	--dack: #212121;
	--light: #f3f3f3;
	--font: 'Odibee Sans', cursive;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	width: 100%;
	font-size: 16px;
	font-family: var(--font)
}